#app {
  padding: 15px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
footer {
  font-size: 14px;
  margin-top: 15px;
  text-align: center;
}
#memberList {
  padding: 0;
}
.member-list-item {
  list-style: none;
}
#nameForm {
  padding: 0;
}
#nameForm .valid-feedback,
#nameForm .invalid-feedback {
  height: 42px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #app {
    margin: 50px auto;
    padding: 0;
    width: 350px;
  }
  footer {
    text-align: unset;
  }
  #nameForm {
    border: 1px solid #6c757d;
    padding: 25px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #app {
    width: 525px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #app {
    width: 550px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #app {
    width: 600px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  #app {
    width: 600px;
  }
}
